.stimulus-wrapper {
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.stimulus-wrapper .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stimulus-wrapper .header .logo {
  display: block;
}

.stimulus-wrapper .header #demo {
  height: 100%;
  font-size: 50px;
}

.stimulus-wrapper .pallete-wrapper {
  margin-top: 5rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stimulus-wrapper .pallete-wrapper .plus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stimulus-wrapper .pallete-wrapper .plus-box img {
  display: block;
}

.stimulus-wrapper .pallete-wrapper .red {
  background: red;
  width: 30rem;
  -webkit-animation-name: red;
          animation-name: red;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.0769230769230769s;
          animation-duration: 0.0769230769230769s;
  border-radius: 20px;
}

.stimulus-wrapper .pallete-wrapper .blue {
  background: blue;
  width: 30rem;
  -webkit-animation-name: blue;
          animation-name: blue;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.0588235294117647s;
          animation-duration: 0.0588235294117647s;
  border-radius: 20px;
}

.alert-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
}

.alert-background p {
  line-height: 200px;
}

.alert-first-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
}

.alert-first-background p {
  line-height: 200px;
}

.alert-second-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
}

.alert-second-background p {
  line-height: 200px;
}

.alert-final-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
}

.alert-final-background p {
  line-height: 200px;
}

@-webkit-keyframes red {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes red {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=stimulus.css.map */