%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.stimulus-wrapper {
  z-index: 0;
  width: 100%;
  height: 100vh;
  .header {
    width: 100%;
    .logo {
      display: block;
    }
  }
  .mid-wrapper {
    background-image: url('../img/sketch-4.jpeg');
    background-size: cover;
    .pallete-wrapper {
      padding: 4rem 4rem 0 11rem;
      height: 30rem;
      display: flex;
      justify-content: space-between;
      .plus-box {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: block;
        }
      }
      .red {
        // 13Hz
        background: red;
        width: 30rem;
        animation-name: box;
        animation-iteration-count: infinite;
        animation-duration: 0.0769230769230769s;
        border-radius: 100000px;
        color: white;
        @extend %flex;
      }
      .green {
        // 19Hz
        background: green;
        width: 30rem;
        animation-name: box;
        animation-iteration-count: infinite;
        animation-duration: 0.0526315789473684s;
        border-radius: 1000000px;
        @extend %flex;
        color: white;
      }
      .blue {
        // 23Hz
        background: blue;
        width: 30rem;
        animation-name: box;
        animation-iteration-count: infinite;
        animation-duration: 0.0434782608695652s;
        border-radius: 1000000px;
        @extend %flex;
        color: white;
      }
    }
    .draw-area {
      width: 100%;
      height: 100%;
      margin-top: 7rem;
      display: flex;
      justify-content: center;
      .draw-circle-wrapper {
        width: 50rem;
        height: 50rem;
        border-radius: 100000px;
        transform: rotate(45deg);
        .first-line {
          display: flex;
          .circle-part-1 {
            @extend %flex;
            transform: rotate(-45deg);
            width: 25rem;
            height: 25rem;
            border: 1px solid #eee;
            border-radius: 100000px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          .circle-part-2 {
            @extend %flex;
            transform: rotate(-45deg);
            width: 25rem;
            height: 25rem;
            border: 1px solid #eeee;
            border-radius: 100000px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }
        .second-line {
          display: flex;
          .circle-part-3 {
            @extend %flex;
            transform: rotate(-45deg);
            width: 25rem;
            height: 25rem;
            border: 1px solid #eeee;
            border-radius: 100000px;
            margin-top: 10px;
            margin-left: 10px;
          }
          .circle-part-4 {
            @extend %flex;
            transform: rotate(-45deg);
            width: 25rem;
            height: 25rem;
            border: 1px solid #eeee;
            border-radius: 100000px;
            margin-right: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.alert-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
  img {
    width: 30rem;
    height: 30rem;
    // animation-name: plus;
    // animation-iteration-count: infinite;
    // animation-duration: 1s;
  }
}

.alert-first-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: white;
  color: black;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
  img {
    width: 30rem;
    height: 30rem;
    // animation-name: plus;
    // animation-iteration-count: infinite;
    // animation-duration: 1s;
  }
}

.alert-second-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
  img {
    width: 30rem;
    height: 30rem;
    // animation-name: plus;
    // animation-iteration-count: infinite;
    // animation-duration: 1s;
  }
}

.alert-third-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
  img {
    width: 30rem;
    height: 30rem;
    animation-name: plus;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
}

.alert-fourth-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
  img {
    width: 30rem;
    height: 30rem;
    animation-name: plus;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
}

.alert-final-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 100;
  padding-top: 400px;
  font-size: 5rem;
  text-align: center;
  p {
    line-height: 200px;
  }
}

@keyframes plus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
